ion-card {
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-header {
    text-align: center;
    padding: 20px;
  
    ion-card-title {
      font-size: 24px;
      font-weight: bold;
    }
  
    ion-card-subtitle {
      margin-top: 10px;
      font-size: 16px;
    }
  }
  
  ion-item {
    --padding-start: 0;
    --inner-padding-end: 0;
    margin-bottom: 10px;
  }
  
  .error-message {
    padding: 5px 0;
    font-size: 12px;
  }
  
  ion-button[type="submit"] {
    margin: 20px 0;
    --border-radius: 10px;
    height: 48px;
  }
  
  ion-button[fill="clear"] {
    --color: var(--ion-color-primary);
    font-weight: normal;
  }
  
  .ion-text-center {
    ion-text {
      font-size: 14px;
    }
  }
  :host {
    .custom-alert {
      .alert-wrapper {
        --min-width: 320px;
      }
  
      .alert-head {
        h2 {
          color: var(--ion-color-danger);
          font-weight: bold;
        }
      }
  
      .alert-message {
        color: var(--ion-color-dark);
        font-size: 14px;
        line-height: 1.4;
      }
  
      .alert-button-group {
        padding: 8px;
  
        button {
          &.alert-button-role-cancel {
            color: var(--ion-color-medium);
          }
  
          &:last-child {
            color: var(--ion-color-primary);
            font-weight: bold;
          }
        }
      }
    }
  }